html {
  height: 100%;
  width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

a {
  color: $body-color;
  text-decoration: underline;
  &:focus, &:hover {
    text-decoration: none;
    color: #c21924;
  }
}

.container {
  @include container;
}

.form-item-hidden {
  display: none;
}

.inner-container {
  margin: 0 3%;
  @include breakpoint($tablet) {
    margin: 0 5%;
  }
  @include breakpoint($desktop) {
    margin: 0 10%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.page-row {
  display: table-row;
  height: 1px;
}
.page-row.page-row-expanded {
  height: 100%;
}

@include font-face('NuevaStd-Italic', '../fonts/NuevaStd-Italic');
@include font-face('Nexa Light', '../fonts/Nexa Light');
