.about-icon {
  text-align: center;
}
h3.section-title {
  text-align: center;
  overflow: hidden;
  margin: 0 0 20px 0;
  span {
    display: inline-block;
    position: relative;
    &:before, &:after {
      content: "";
      position: absolute;
      line-height: 31px;
      border-bottom: 1px solid #cdcdcd;
      top: 50%;
      width: 600px;
    }
    &:before {
      right: 100%;
      margin-right: 50%;
      @include breakpoint($tablet) {
        margin-right: 100%;
      }
      @include breakpoint($desktop) {
        margin-right: 150%;
      }
    }
    &:after {
      left: 100%;
      margin-left: 50%;
      @include breakpoint($tablet) {
        margin-left: 100%;
      }
      @include breakpoint($desktop) {
        margin-left: 150%;
      }
    }
  }
}
.skills-image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.recent-work {
  margin-top: 70px;
  text-align: center;
}
