.one-column {
  form#contact-form {
    @include span(6 of 6);
    @include breakpoint($tablet) {
      @include span(8 of 12);
    }
    @include breakpoint($desktop) {
      @include span(6 of 12);
    }
  }
}
.two-column {
  .text {
    @include span(6 of 6 no-gutter);
    @include breakpoint($tablet) {
      @include span(6 of 12);
    }
    @include breakpoint($desktop) {
      @include span(4 of 12);
    }
  }
  form#contact-form  {
    @include span(6 of 6 no-gutter);
    @include breakpoint($tablet) {
      @include span(6 of 12 no-gutter);
    }
    @include breakpoint($desktop) {
      @include span(8 of 12 no-gutter);
    }
  }
}
form#contact-form {
  input[type="text"], textarea {
    width: 100%;
    box-sizing: border-box;
  }
  textarea {
    height: 150px;
  }
  input[type="text"] {
    padding-left: 50px;
  }
  i {
    position: absolute;
    left: 10px;
    top: 6px;
    font-size: 30px;
    color: #cdcdcd;
  }
}

#contact-form input[type="submit"] {
  margin-top: 0.5140625em;
}
