header {
  width: 96% !important;
  margin: 0 2%;
  background: #FFF;
  position: relative;
  backface-visibility: hidden;
  transform: translateZ(0);
  > nav {
    display: none;
    @include breakpoint($tablet) {
      display: block;
    }
  }
  .border {
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
    background: #FFF;
    clear: both;
    margin: 0 -2% 0 -2%;
    height: 9px;
  }
  .background {
    position: absolute;
    top: 0;
    left: -3%;
    bottom: 0;
    right: -3%;
    background: #FFF;
    z-index: -1;
  }
  a.logo {
    line-height: 0;
    width: 240px;
    display: block;
    float: left;
    @include breakpoint($tablet) {
      float: none;
      @include span(6 of 12);
    }
    @include breakpoint($desktop) {
      @include span(3 of 12);
    }
    img {
      width: 100%;
      height: auto;
      -webkit-transition: width .2s;
      transition: width .2s;
    }
  }
  > nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      li {
        display: inline;
        padding-left: 25px;
        &:first-child {
          padding-left: 0;
        }
        a {
          border-bottom: 2px solid transparent;
          text-decoration: none;
          color: #575656;
          padding: 0 5px;
          &:active, &:focus, &:hover, &.active {
            color: #575656;
            border-bottom-color: #c21924;
          }
        }
      }
    }
    @include span(9 of 12 last);
  }
}
#header-sticky-wrapper {
  display: block;
  z-index: 200;
  position: relative;
  &.is-sticky {
    img {
      @include breakpoint($tablet) {
        width: 60%;
      }
    }
    header {
      .border {
        background: #dfdfdf;
      }
    }
  }
}
.is-sticky .slicknav_menu .slicknav_btn.open .slicknav_icon-bar:nth-child(2) {
  margin-bottom: -5px;
}
.slicknav_menu {
  background: transparent;
  .slicknav_icon {
    float: none;
  }
  ul {
    margin: 0;
    li a {
      color: #575656;
      border-bottom: 2px solid transparent;
      &:focus, &:hover {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: transparent;
        color: #575656;
        border-bottom-color: #c21924;
      }
    }
  }
  .slicknav_btn {
    background: transparent;
    margin: 0;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 2em;
  }
  .slicknav_icon-bar {
    display: block;
    margin-bottom: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 40px;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 8px;
    background: #575656;
  }
  .slicknav_btn.open {
    .slicknav_icon-bar:first-child {
      visibility: hidden;
    }
    .slicknav_icon-bar:nth-child(2) {
      display: block;
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-bottom: -6px;
    }
    .slicknav_icon-bar:nth-child(3) {
      display: block;
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-top: 0;
    }
  }
  .js #menu {
		display:none;
	}
	.js .slicknav_menu {
		display:block;
	}
  @include breakpoint($tablet) {
    display:none;
  }
}
