.carousel {
  margin-bottom: 70px;
  overflow: hidden;

  .slide-item {
    @include span(4 of 6 no-gutter);
    @include breakpoint($tablet) {
      @include span(3 of 12);
      float: none;
    }
    position: relative;
    display: inline-block !important;
    vertical-align: middle;
    float: none;
    a {
      vertical-align: middle;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .slick-arrow{
    width: 4%;
    border: none;
    text-indent:-9999px;
    margin: 0;
    padding: 0;
    display: inline-block !important;
    vertical-align: middle;
  }
  .slick-next {
    background: url('../images/next.jpg') no-repeat 50% 50%;
  }
  .slick-prev {
    background: url('../images/prev.jpg') no-repeat 50% 50%;
  }
  .slick-list {
    width: 90%;
    display: inline-block !important;
    vertical-align: middle;
  }
  .slick-slide:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
